In [1]:
import sqlite3

conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# Chèn dữ liệu
students = [
    ("An", 20, 8.5),
    ("Bình", 21, 7.8),
    ("Chi", 19, 9.0)
]

cursor.executemany("""
INSERT INTO students (name, age, score)
VALUES (?, ?, ?)
""", students)

conn.commit()

# Hiển thị dữ liệu
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

print("Danh sách sinh viên:")
for row in rows:
    print(row)

conn.close()

Danh sách sinh viên:
(1, 'An', 20, 8.5)
(2, 'Bình', 21, 7.8)
(3, 'Chi', 19, 9.0)